<div class="jumbotron">
  <h1 class="display-4">Items</h1>
  <p class="lead">Welcome to our items-page, feel free to look around</p>
  <hr class="my-4">
  <div class="items-display">
    <div class="card col-1-4" style="width: 18rem;" *ngFor="let item of items">
      <h3 class="card-title">{{item.name | uppercase}}</h3>
      <img src="https://www.retaildetail.be/sites/default/files/news/Duvel-shutterstock-198519845.jpg"
           class="card-img-top" alt="..." width="100px" height="auto">
      <div class="card-body">
        <div><span id="left">price:&nbsp;</span> {{item.price | currency: 'EUR'}}
          <span id="right" [ngClass]="item.stockUrgency">{{item.stockUrgency | titlecase}}</span>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>


