<div class="jumbotron">
  <h1 class="display-4">Update Item</h1>
  <p class="lead">Update {{item.name}}</p>
  <hr class="my-4">
  <form [formGroup]="updateItemForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input formControlName="name" type="text" class="form-control" id="name" name="item.name" [(ngModel)]="item.name" placeholder="{{item.name}}">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea #itemDescription name="description" formControlName="description" type="text" class="form-control"
                id="description" [(ngModel)]="item.description" rows="4" maxlength="255" placeholder="{{item.description}}"></textarea>
      <p align="right">{{255 - item.description.length}}/255</p>
      <!--      <app-counter [counter]="descriptionCounter" [max]="255"></app-counter>-->

    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="price">Price</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">€</span>
          </div>
          <input formControlName="price" type="number" class="form-control" id="price" name="item.price" [(ngModel)]="item.price" placeholder="{{item.price}}">
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="amountOfStock">Amount of Stock</label>
        <input formControlName="amountOfStock" type="number" class="form-control" id="amountOfStock"
               name="item.amountOfStock" [(ngModel)]="item.amountOfStock" placeholder="{{item.amountOfStock}}">
      </div>
    </div>
    <button type="submit">Update Item</button>
    <button type="reset">Cancel</button>
  </form>
  <div class="clearfix"></div>
</div>
